/* Home Container */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  background-image: url("Crevasse Black Full Hd Backgraunds - 4K Dark Desktop Wallpaper UltraHD 3840x2160.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

/* Top Container */

/* Message Box */
.message-box {
  background-color: #685e5e;
  padding: 20px;
  border-radius: 8px;
  max-width: 810px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Message Text */
.message-text {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  text-align: center;

}

/* Welcome Image */
.welcome-image {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 20px;
}

/* Header */
.home-header {
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
