@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo {
  border-radius: 250px;
  image-rendering: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: -100px;
  /* Adjust this value as needed */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("download (7).jpg");
  background-size: auto;
  /* Use auto to keep the original image size */
  background-position: top left;
  /* Start tiling from the top left */
  background-repeat: repeat;
  /* Enable tiling of the image */
  filter: blur(px);
  /* Adjust blur level here, e.g., 5px */
  z-index: -1;
  /* Ensure the pseudo-element is behind other content */
}
