@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo {
  border-radius: 75px;
  image-rendering: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: -50px;
  /* Adjust this value as needed */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("download (7).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
  /* Adjust blur level here */
  z-index: -1;
  /* Ensure the pseudo-element is behind other content */
}
